<div class="container">
	<h1>New game</h1>
	<div class="letters d-flex">
		<% @choosen_letters.each do |letter| %>
		<div class="letter d-flex justify-content-center align-items-center">
			<%= letter.upcase %>
		</div>
		<% end %>
	</div>
    <br>
    <p>What's the longest word you can find?</p>

	<form action="/score" class="form-group d-flex row" method="POST">
		<%= hidden_field_tag :authenticity_token, form_authenticity_token %>
		<%= hidden_field_tag :choosen_letters, @choosen_letters.join(", ") %>
		<input type="text" class="form-control col-6" placeholder="Type something" name="word">
		<input type="submit" class="form-control btn btn-primary col-1">
	</form>
</div>